/* logo bigger */
#portal-logo {
    margin: 0.5em;
  height: 85px;
}

#page-wrapper {
    background-color: #fff;
}

/* portal languages selector */
#portal-languageselector-wrapper {
  position: absolute;
  right: 0;
  top: 3.3em;
}
#portal-languageselector ul {
  padding: 0.25em 0.5em;
}
#portal-languageselector ul a:after {
  font-size: 10px;
}
#portal-languageselector li {
  display: inline;
  right: -1px;
  padding: 1px;
}
#portal-languageselector li a:hover {
  background-color: $lightgray;
  color: $link-color-hover;
}
.currentLanguage {
font-weight: bold;
}